<h1>Assignment</h1>

<div>
  <table>
    <tr>
      <th>Name</th>
      <td>:</td>
      <td><%= @assignment.name %></td>
    </tr>
    <tr>
      <th>Course</th>
      <td>:</td>
      <td><%= @course.name %></td>
    </tr>

    <tr>
      <th>Assigned To</th>
      <td>:</td>
      <td><%= @student.username %></td>
    </tr>
    <tr>
      <th>Created At</th>
      <td>:</td>
      <td><%= @assignment.created_at %></td>
    </tr>
    <tr>
      <th>Updated At</th>
      <td>:</td>
      <td><%= @assignment.updated_at %></td>
    </tr>
  </table>
  <br>
  <%= link_to 'Back', :back %>
</div>
