<!DOCTYPE html>
<html>
  <head>
    <title>MiniSchoolSystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <% if logged_in? %>
        <%= link_to 'Home', home_index_path %>  |
        <%= link_to current_user.username , profile_show_path %>  |
        <%= link_to 'Log out', logout_path %>
      <% end %>


      <% flash.each do |message_type, message| %>
       <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>

      <%= yield %>
  </body>
</html>
